In [75]:
 # Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [76]:
load_dotenv()

True

In [77]:
 # Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [78]:
print(alpaca_api_key)
print(alpaca_secret_key)

PK0W028EPL8R41PNLYOF
9vLkae71uqek7kion9B8dVF0aIZzatnx34JQ9Znf

In [79]:
 # Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [80]:
alpaca=tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version="v2")

In [81]:
from alpaca_trade_api.rest import REST, TimeFrame
tickers = ["FB", "TWTR"]

In [46]:
today = pd.Timestamp("2020-07-14", tz="America/New_York").isoformat()
today1 = pd.Timestamp("2021-07-14", tz="America/New_York").isoformat()

In [85]:
 # Get current closing prices for FB and TWTR
yearly = alpaca.get_bars(
    tickers,
    TimeFrame.Day,
    start = today,
    end = today1
).df

# Display sample data
yearly

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2020-07-14 04:00:00+00:00,236.76,240.3300,232.0300,239.73,23377376,244837,236.977422,FB
2020-07-15 04:00:00+00:00,241.66,244.8200,238.0500,240.28,19133564,179250,241.012711,FB
2020-07-16 04:00:00+00:00,238.00,241.7600,236.3306,240.93,18880800,185552,239.157362,FB
2020-07-17 04:00:00+00:00,241.59,244.1600,237.8600,242.03,18152413,157566,241.137714,FB
2020-07-20 04:00:00+00:00,240.00,246.0500,235.6350,245.42,20872223,190091,242.432322,FB
...,...,...,...,...,...,...,...,...
2021-07-08 04:00:00+00:00,67.00,67.6050,66.2400,66.83,12748175,108583,66.902127,TWTR
2021-07-09 04:00:00+00:00,67.05,69.0100,66.9800,68.97,14367628,67081,68.617154,TWTR
2021-07-12 04:00:00+00:00,69.30,70.4370,68.8000,69.86,9215003,72406,69.828126,TWTR
2021-07-13 04:00:00+00:00,69.54,70.8699,69.2600,69.60,9971588,76969,70.059576,TWTR
2021-07-14 04:00:00+00:00,70.23,72.0700,70.0900,70.27,21524374,138900,70.871949,TWTR

In [86]:
yearly.index=yearly.index.date

In [87]:
yearly = yearly[["close", "symbol"]]
yearly

             close symbol
2020-07-14  239.73     FB
2020-07-15  240.28     FB
2020-07-16  240.93     FB
2020-07-17  242.03     FB
2020-07-20  245.42     FB
...            ...    ...
2021-07-08   66.83   TWTR
2021-07-09   68.97   TWTR
2021-07-12   69.86   TWTR
2021-07-13   69.60   TWTR
2021-07-14   70.27   TWTR

[506 rows x 2 columns]

In [88]:
tables = pd.pivot_table(yearly, values='close', index=yearly.index, columns=["symbol"])
tables

symbol          FB   TWTR
2020-07-14  239.73  34.38
2020-07-15  240.28  35.67
2020-07-16  240.93  35.28
2020-07-17  242.03  35.81
2020-07-20  245.42  37.06
...            ...    ...
2021-07-08  345.65  66.83
2021-07-09  350.42  68.97
2021-07-12  353.16  69.86
2021-07-13  352.09  69.60
2021-07-14  347.63  70.27

[253 rows x 2 columns]

In [74]:
tables.columns

Index(['FB', 'TWTR'], dtype='object', name='symbol')